services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: stankin_isit_web
    env_file: .env
    ports:
      - "${PORT}:${PORT}"
    volumes:
      - ./app:/app/app
    restart: unless-stopped
